@import url('https://fonts.googleapis.com/css2?family=Anton&family=STIX+Two+Text&display=swap');
@font-face {
	font-family: MPLUS1p-Bold;
	src: url(../Fonts/MPLUS1p-Bold.ttf) format('truetype');
}
@font-face {
    font-family: MPLUS1p-Thin;
	src: url(../Fonts/MPLUS1p-Thin.ttf) format('truetype');
}
@font-face {
    font-family: Monrope-Medium;
    src: url(../Fonts/Manrope-Medium.ttf) format('truetype');
}

:root{
    --vermelho: #ca1019;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Elementos base  */
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  @media (min-width: 1200px) {
    h1, .h1 {
      font-size: 2.5rem;
    }
  }
  
  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2rem;
    }
  }
  
  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  @media (min-width: 1200px) {
    h3, .h3 {
      font-size: 1.75rem;
    }
  }
  
  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  @media (min-width: 1200px) {
    h4, .h4 {
      font-size: 1.5rem;
    }
  }
  
  h5, .h5 {
    font-size: 1.25rem;
  }
  
  h6, .h6 {
    font-size: 1rem;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
    .filme-principal, .logo, .logo-2, .descricao, .titulo,
    .botao, .i .container-texto, .subtitulo,.col-auto,
    .col-1, .col-2, .col-3, .col-4, .col-5
    ,.col-6, .col-7, .col-8, .col-9, .col-10
    ,.col-11, .col-12 .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .filme-principal, .logo, .logo-2, .descricao, .titulo,
    .botao, .i, .container-texto, .subtitulo,.col-auto,
    .col-1, .col-2, .col-3, .col-4, .col-5
    ,.col-6, .col-7, .col-8, .col-9, .col-10
    ,.col-11, .col-12 .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .filme-principal, .logo, .logo-2, .descricao, .titulo,
    .botao, .i, .container-texto,
    .afastar, .subtitulo,.col-auto,
    .col-1, .col-2, .col-3, .col-4, .col-5
    ,.col-6, .col-7, .col-8, .col-9, .col-10
    ,.col-11, .col-12 .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .filme-principal, .logo, .logo-2, .descricao, .titulo,
    .botao, .i, .container-texto, .subtitulo,.col-auto,
    .col-1, .col-2, .col-3, .col-4, .col-5
    ,.col-6, .col-7, .col-8, .col-9, .col-10
    ,.col-11, .col-12 .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .filme-principal, .logo, .logo-2, .descricao, .titulo,
    .botao, .i, .container-texto, .subtitulo,.col-auto,
    .col-1, .col-2, .col-3, .col-4, .col-5
    ,.col-6, .col-7, .col-8, .col-9, .col-10
    ,.col-11, .col-12 .container {
      max-width: 1320px;
    }
  }
/* Serie Principal */

.filme-principal{
    font-size: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.445)), url('../Img/1CapaRM.jpg') no-repeat center center;
    max-height: 100%;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .logo{
    font-size: 190%;
    display: inline;
    font-family: 'MPLUS1p-Bold';
}
.filme-principal .logo-2{
    display: inline;
    font-family: 'MPLUS1p-Thin';
    font-size: 190%;
}
.filme-principal .porcentagem{
    color: #4cd147;
    display: inline;
    font-family: Monrope-Medium;
}
.filme-principal .criacao{
    display: inline;
    font-family: Monrope-Medium;
}
.filme-principal .descricao{
    margin-top: 4px;
    text-align: justify;
}
.filme-principal  .titulo{
    font-size: 87px;
    font-family: 'Anton', sans-serif;
}
.botao{
    margin-top: 7%;
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;
    padding: 15px 50px;
    margin-right: 15px;
    font-size: 24px;
    cursor: pointer;
    transition: .5s ease all;
}
.botao:hover{
    background-color: white;
    color: black;
}
.botao i{
    margin-right: 8px;
}
.container{
    margin-left: 20px;
}
.container-texto{
    margin-left: 20px;
    width: 37%;
}
.box-filmes{
   height: 100%; 
   width: 100%;
   display: block;
}
.afastar{
    margin-top: 1%;
}
.subtitulo{
    font-size: 20px;
    font-family: 'STIX Two Text', serif;
}
.col-auto {
    flex: 0 0 auto;
    width: auto;
  }
.row {
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
margin-top: calc(var(--bs-gutter-y) * -1);
margin-right: calc(var(--bs-gutter-x) * -.5);
margin-left: calc(var(--bs-gutter-x) * -.5);
}
.row > * {
flex-shrink: 0;
width: 100%;
max-width: 100%;
padding-right: calc(var(--bs-gutter-x) * .5);
padding-left: calc(var(--bs-gutter-x) * .5);
margin-top: var(--bs-gutter-y);
}
.col-1 {
flex: 0 0 auto;
width: 8.33333333%;
}

.col-2 {
flex: 0 0 auto;
width: 16.66666667%;
}

.col-3 {
flex: 0 0 auto;
width: 25%;
}

.col-4 {
flex: 0 0 auto;
width: 33.33333333%;
}

.col-5 {
flex: 0 0 auto;
width: 41.66666667%;
}

.col-6 {
flex: 0 0 auto;
width: 50%;
}

.col-7 {
flex: 0 0 auto;
width: 58.33333333%;
}

.col-8 {
flex: 0 0 auto;
width: 66.66666667%;
}

.col-9 {
flex: 0 0 auto;
width: 75%;
}

.col-10 {
flex: 0 0 auto;
width: 83.33333333%;
}

.col-11 {
flex: 0 0 auto;
width: 91.66666667%;
}

.col-12 {
flex: 0 0 auto;
width: 100%;
}